

body{

background-color: rgb(42, 128, 49);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
color: white;
font-weight: bold;

}

h1{

    color : goldenrod;

}

#message-el{

    font-style: italic;

}

button{

    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    border-radius: 2px;

}

div{

    display : flex;
    justify-content: center;
    align-items: center;

}

#btn-minus,
#btn-plus{

    width: 50px;
    margin-left: 5px;
    margin-right: 5px;

}

img{

    width: 80px;

}